@(eventForm:Form[models.Event])

@import helper._
@import helper.twitterBootstrap._

@inputText(eventForm("title"),
    'placeholder -> "Title *",
    '_label -> "Title")

@inputText(eventForm("email"),
    'placeholder -> "Owner E-mail *",
    '_label -> "Owner E-mail")

@inputText(eventForm("owner"),
    'placeholder -> "Owner name *",
    '_label -> "Owner")

@inputText(eventForm("eventDate"),
    'placeholder -> "Date *",
    '_label -> "Date"
    , '_infos -> ""
    , 'class -> "datepicker")

@textarea(eventForm("content"),
    'placeholder -> "Description",
    '_label -> "Description"
    , 'rows -> 5)