#sort {
	font-size: 0.9em;
}

#sort span, #sort li a, #sort li.active a {
	padding: 2px;
}

#sort span {
	display: block;
	margin-right: 10px;
	float: left;
}

a.delete { color: #CC0000; }
h2 { margin-bottom: 20px;}

/* More condensed horizontal forms */
.medium-label .controls {
    margin-left: 120px;
}
.medium-label .control-label {
    width: 100px;
}

.small-label .controls {
    margin-left: 60px;
}
.small-label .control-label {
    width: 40px;
}


