@(event:model.Event, eventForm: Form[model.Event], itemForm: Form[model.Item], userForm:Form[model.User])(implicit login:utils.Login)
@import helper._
@import helper.twitterBootstrap._

@import snippets._

@main("Change Event", "event") {
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="span4">
            <h2>Details</h2>
            @form(routes.Events.editEvent(event.id.get.stringify), 'class -> "well form-horizontal medium-label", 'id -> "eventForm"){
                @eventsfields(eventForm, "Edit")
            }

        </div>
        <div class="span4">
            <h2>Items</h2>

                @if(itemForm.value.isDefined) {
                    @form(routes.Items.editItem(event.id.get.stringify, itemForm.get.name), 'class -> "well form-horizontal small-label", 'id -> "itemForm"){
                        @itemfields(itemForm, "Edit")
                    }
                } else {
                    @form(routes.Items.addItem(event.id.get.stringify), 'class -> "well form-horizontal small-label", 'id -> "itemForm"){
                        @itemfields(itemForm, "Add")
                    }
                }
                <div class="well">
                    <ul>
                        @event.items.map { it =>
                            <li>
                                @Html(it.webTitle) <a href="@routes.Items.showEditItemForm(event.id.get.stringify, it.name)"><i class="icon-edit"></i> </a>
                            </li>
                        }
                    </ul>
                </div>

        </div>
        <div class="span4">
            <h2>Guests</h2>

            @if(userForm.value.isDefined) {
                @form(routes.Guests.editGuest(event.id.get.stringify, userForm.get.email), 'class -> "well form-horizontal small-label", 'id -> "guestForm"){
                    @userfields(userForm, "Edit")
                }

            } else {
                @form(routes.Guests.addGuest(event.id.get.stringify), 'class -> "well form-horizontal small-label", 'id -> "guestForm"){
                    @userfields(userForm, "Add")
                }
            }
            <div class="well">
                <ul>
                @event.guests.map { it =>
                    <li>
                        @it.name (@it.email)<a href="@routes.Guests.showEditForm(event.id.get.stringify, it.email)"><i class="icon-edit"></i> </a>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
}