@(events: Seq[model.Event])(implicit login:utils.Login)
@import helper._
@import helper.twitterBootstrap._

@import snippets._

@main("Events", "listEvents") {
    <div class="row">
        <div class="span12">
            <h2>Events</h2>
            @if(events.isEmpty) {
                <p>No events available</p>
            } else {
                <ul>
                @events.map { event =>
                    <li><a href="@routes.Events.details(event.id.get.stringify)">@event.title</a></li>
                }
                </ul>
            }
        </div>
    </div>
}