@(title: String, active:String)(content: Html)(implicit login:utils.Login)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet">
        <style type="text/css">
            body {
            padding-top: 60px;
            padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link href="@routes.Assets.at("stylesheets/datepicker.css")" rel="stylesheet">

        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>

    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">GiefIT</a>

                    <ul class="nav">
                        <li @if(active == "listEvents"){class="active"}><a href="@routes.Events.indexCookie">Events</a></li>
                        <li @if(active == "createEvent"){class="active"}><a href="@routes.Events.newEventForm">Create new event</a></li>
                    </ul>

                    @login.username.map { user =>
                        <div class="btn-group pull-right">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-user"></i> @user
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @login.user.map{ u =>
                                    <li><a href="@routes.Events.indexCookie()"><i class="icon-envelope"></i> @u</a></li>
                                }

                                @login.lastList.map { id =>
                                    <li><a href="@routes.Events.details(id)"><i class="icon-magnet"></i> active event</a></li>

                                }

                                <li class="divider"></li>
                                <li><a href="@routes.Application.logout()"><i class="icon-off"></i> Logout</a></li>
                            </ul>
                        </div>
                    }


                </div>
            </div>
        </div>

        <div class="container">
        @content
        </div>
    </body>
</html>